<!-- 
  @author Davide Panarella
  @email davidepanarella.ts@gmail.com
 -->

<launch>

  <arg name="/use_sim_time" default="true"/>
  <arg name="gridmap_config_file" default="archimede_gridmap.yaml"/>

  <rosparam command="load" file="$(find robot4ws_mapping)/config/$(arg gridmap_config_file)" ns="gridmap"/>

  <node name="p2g_listener" pkg="robot4ws_mapping" type="gridmap_node" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot4ws_mapping)/rviz/grid_map.rviz" />

</launch>

