<!-- <launch>
  <node name="p2g_listener" pkg="robot4ws_mapping" type="prova_node" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot4ws_mapping)/rviz/grid_map.rviz" />
</launch> -->

<launch>

  <param name="/use_sim_time" value="true"/>

  <node name="p2g_listener" pkg="robot4ws_mapping" type="prova_node" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot4ws_mapping)/rviz/grid_map.rviz" />
  
  <node name="costmap_2d_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam command="load" file="$(find robot4ws_mapping)/config/costmap_2d.yaml" ns="costmap"/>
  </node>

  <node name="static_tf0" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /grid_map 100"/>
  <node name="static_tf1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_link /velodyne 100"/>

</launch>

